{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "prettier", "react-hooks", "@typescript-eslint", "unused-imports"],
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "react/react-in-jsx-scope": "off",
    "react/no-children-prop": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          "internal",
          ["sibling", "parent"],
          "index"
        ],
        "pathGroups": [
          {
            "pattern":
            "@(api|assets|modules|redux|routes|shared|resources)/**",
            "group": "internal"
          },
          {
            "pattern":
            "@(redux|routes|resources|api|i18n)",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["internal"],
        "newlines-between": "always"
      }
    ],
    "import/no-cycle": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "constructor-super": "error",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "off",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-template": "error",
    "prefer-destructuring": 0,
    "no-restricted-syntax": ["error", "ForInStatement", "SequenceExpression"],
    "no-caller": "error",
    "no-template-curly-in-string": "error",
    "array-callback-return": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "eqeqeq": ["error", "always"],
    "no-lone-blocks": "error",
    "no-proto": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-undef-init": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "error",
    "camelcase": "off",
    "no-debugger": "error",
    "no-empty": "error",
    "no-unused-labels": "error",
    "prefer-const": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-duplicate-enum-values": "warn",
    "no-extra-semi": "off",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  }
}
